*.iml
.gradle/
.gradle-simplehook/
.gradle-autocrack-runtime/

/dist/
/toolpacks/simplehook/dist/
.idea/
local.properties
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
.local-cache/
__pycache__/
*.pyc
*.jks
*.keystore
keystore.properties
/exports/

/toolpacks/runtime-inspector/dist/
/toolpacks/ui-inspect/dist/
/toolpacks/runtime-inspect/dist/
/toolpacks/memory-dump/dist/
/toolpacks/runtime-control/dist/
/toolpacks/*/dist/
