<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:forceQueryable="true"
        android:label="AutoCrack Runtime"
        android:supportsRtl="true"
        tools:ignore="DataExtractionRules,MissingApplicationIcon">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Shared AutoCrack Runtime for optional toolpacks and SimpleHook" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedsharedprefs" android:value="true" />

        <activity android:name="com.luckylca.runtimeinspector.runtime.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.luckylca.simplehook.runtime.SimpleHookProvider"
            android:authorities="com.luckylca.autocrack.runtime"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <receiver
            android:name="com.luckylca.simplehook.runtime.RuntimeEventReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.luckylca.autocrack.runtime.EVENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
