<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.luckylca.autocrack.debug.DebugPhase5156ValidationActivity"
            android:exported="true" />
        <service
            android:name="com.luckylca.autocrack.debug.DebugUiAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/debug_ui_accessibility_service" />
        </service>
        <activity
            android:name="com.luckylca.autocrack.debug.DebugRootUiDriverActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugAgentToolValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugFridaToolpackInstallActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugToolpackInstallActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugMobileAgentExecActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugSharedToolpackRuntimeValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugFridaFixtureActivity"
            android:exported="true"
            android:process=":frida_fixture" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugAgentFridaValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugApkDexToolpackValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugPerfettoToolpackValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugProductionAgentToolsValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugNativeAgentValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugPcapAgentValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugElfNativeToolpackValidationActivity"
            android:exported="true" />
        <activity
            android:name="com.luckylca.autocrack.debug.DebugAndroidHostShellToolpackValidationActivity"
            android:exported="true" />
    </application>
    <instrumentation
        android:name="com.luckylca.autocrack.debug.DebugUiInstrumentation"
        android:targetPackage="com.luckylca.autocrack"
        android:functionalTest="true" />
</manifest>
